#canvas {
	display: block;
}

#info {
	display: inline-block;
	text-overflow: clip;
	overflow: hidden;
	margin-right: 200px;
}

#commands {
	display: inline-block;
	text-align: center;
	margin-left: 200px;
}

#devTools {
	background-color: aqua;
	width: 1500px;
}

section {
	width: 200px;
	height: 200px;
	background-color: grey;
	vertical-align: top;
}

#increaseLength, #decreaseLength, #muscleLengthT {
	display: inline;
}







